---
layout: page
title: "About"
description: "「谁人定我去或留，定我心中的宇宙」"
header-img: "img/bg-me-2022.jpg"
header-mask: 0.3
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>


{% if site.utteranc_username %}
<!-- utteranc 评论框 start -->
<div class="comment">
    <div id="utteranc_thread" class="utteranc-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- utteranc 公共JS代码 start (一个网页只需插入一次) -->
<script src="https://utteranc.es/client.js"
        repo="mgt-lya.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
<!-- utteranc 公共JS代码 end -->
{% endif %}
